In [1]:
import pandas as pd

## Raw data:

In [2]:
data = pd.read_csv("./dataset/maps-synthetic-data-v1.1.csv", engine='python')
data.head()

,Unnamed: 0,X,flag,comp_bed_9,mat_dep,mat_age,weight_16,height_16,iq,comp_noint_bed_16,...,dep_score,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,1,1,synthetic,NaN,3.0,30,59.294132,181.602831,107.0,NaN,...,0.0,Yes,Yes,often,No,"Yes, Some Days",Other,"Yes, Every Day",Female,A
1,2,2,synthetic,NaN,9.0,26,NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,B
2,3,3,synthetic,NaN,3.0,24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Yes, Some Days","Yes, Every Day",Other,Male,A
3,4,4,synthetic,No,NaN,22,49.812426,160.224186,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,Male,A
4,5,5,synthetic,No,8.0,31,62.270030,191.703227,132.0,Yes,...,NaN,NaN,NaN,often,No,"Yes, Some Days","Yes, Every Day","Yes, Every Day",Female,A

In [3]:
dictionary = pd.read_csv("./dataset/synthetic_data_dictionary.csv", engine='python')
dictionary.head()

,Variable Name,Variable ALSPAC Name,Variable Description,Variable Type,Administered to,Age of child at administration,ALSPAC Measure,ALSPAC Responses,Processing Details,Reference Document
0,agg_score,f596,Aggression score of partnership,Discrete,Mother,Aged 8 months,Derived by ALSPAC. See Processing Details,NaN,Aggression score was determined by three quest...,NaN
1,alon_week,ccs1006,Average time child spent per day doing things ...,Ordinal,Child,Aged 198 months,"""How much time on average do you spend each da...",Not at all,"The category ""Not at all"" was collapsed into t...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 1 hour,NaN,NaN
3,,,NaN,NaN,NaN,NaN,NaN,1-2 hours,NaN,NaN
4,,,NaN,NaN,NaN,NaN,NaN,3 or more hours,NaN,NaN

Variables have different Age Of Child At Administration parameters. We don't need the variables with this parameter not equal to 16 (for variables related to screen time) and 18 (for variables related to a depression or anxiety diagnosis).

## vars at 16:

In [4]:
rows = dictionary[(dictionary["Age of child at administration"] == "Aged 198 months")]
print(rows["Variable Name"])
rows2 = dictionary[(dictionary["Age of child at administration"] == "Aged 198 months")]
print(rows2["Variable Name"])

1              alon_week
5              alon_wend
14            child_bull
20            comp_house
24       comp_int_bed_16
28     comp_noint_bed_16
32             comp_week
36             comp_wend
50             draw_week
54             draw_wend
59              exercise
89             musi_week
93             musi_wend
100         out_sum_week
105         out_sum_wend
109         out_win_week
113         out_win_wend
139            play_week
143            play_wend
148            read_week
152            read_wend
158        talk_mob_week
162        talk_mob_wend
166       talk_phon_week
170       talk_phon_wend
178            text_wend
182            tran_week
186            tran_wend
196              tv_week
200              tv_wend
205            work_week
209            work_wend
Name: Variable Name, dtype: object
1              alon_week
5              alon_wend
14            child_bull
20            comp_house
24       comp_int_bed_16
28     comp_noint_bed_16
32             comp_week
36             comp_wend
50             draw_week
54             draw_wend
59              exercise
89             musi_week
93             musi_wend
100         out_sum_week
105         out_sum_wend
109         out_win_week
113         out_win_wend
139            play_week
143            play_wend
148            read_week
152            read_wend
158        talk_mob_week
162        talk_mob_wend
166       talk_phon_week
170       talk_phon_wend
178            text_wend
182            tran_week
186            tran_wend
196              tv_week
200              tv_wend
205            work_week
209            work_wend
Name: Variable Name, dtype: object

## vars at 18:

In [5]:
rows3 = dictionary[(dictionary["Age of child at administration"] == "Aged around 17.5 years")]
print(rows3["Variable Name"])

48        dep_score
49     dep_thoughts
76     has_dep_diag
119     panic_score
147       prim_diag
156       secd_diag
Name: Variable Name, dtype: object

All vars at 16 are separated into weekend and weekdays. Might be worth summing it up into total per week.

In [6]:
columns_to_keep_names = []
columns_to_keep_names.append(rows["Variable Name"])
columns_to_keep_names.append(rows2["Variable Name"])
columns_to_keep_names.append(rows3["Variable Name"])
print(columns_to_keep_names)

[1              alon_week
5              alon_wend
14            child_bull
20            comp_house
24       comp_int_bed_16
28     comp_noint_bed_16
32             comp_week
36             comp_wend
50             draw_week
54             draw_wend
59              exercise
89             musi_week
93             musi_wend
100         out_sum_week
105         out_sum_wend
109         out_win_week
113         out_win_wend
139            play_week
143            play_wend
148            read_week
152            read_wend
158        talk_mob_week
162        talk_mob_wend
166       talk_phon_week
170       talk_phon_wend
178            text_wend
182            tran_week
186            tran_wend
196              tv_week
200              tv_wend
205            work_week
209            work_wend
Name: Variable Name, dtype: object, 1              alon_week
5              alon_wend
14            child_bull
20            comp_house
24       comp_int_bed_16
28     comp_noint_bed_16
32             comp_week
36             comp_wend
50             draw_week
54             draw_wend
59              exercise
89             musi_week
93             musi_wend
100         out_sum_week
105         out_sum_wend
109         out_win_week
113         out_win_wend
139            play_week
143            play_wend
148            read_week
152            read_wend
158        talk_mob_week
162        talk_mob_wend
166       talk_phon_week
170       talk_phon_wend
178            text_wend
182            tran_week
186            tran_wend
196              tv_week
200              tv_wend
205            work_week
209            work_wend
Name: Variable Name, dtype: object, 48        dep_score
49     dep_thoughts
76     has_dep_diag
119     panic_score
147       prim_diag
156       secd_diag
Name: Variable Name, dtype: object]

## Remove vars at wrong ages:

In [10]:
df = pd.DataFrame(data)
columns = list(df)

for i in columns:
    if (df[i][0] in columns_to_keep_names):
        print("keep")
    else: df.drop(df[i])

KeyError: 1

+ ## validation (+multi-column), 
+ ## type screening 
+ ## outliers
+ ## black swans 
+ ## worst cases
+ ## imbalanced samples

validation: https://www.analyticsvidhya.com/blog/2021/05/data-validation-in-machine-learning-is-imperative-not-optional/

Outliers: https://www.analyticsvidhya.com/blog/2021/05/detecting-and-treating-outliers-treating-the-odd-one-out/
https://statisticsbyjim.com/basics/remove-outliers/
https://cxl.com/blog/outliers/


A black swan is an unpredictable event that is beyond what is normally expected of a situation and has potentially severe consequences. Black swan events are characterized by their extreme rarity, severe impact, and the widespread insistence they were obvious in hindsight.

Imbalanced datasets: https://datascience.foundation/sciencewhitepaper/understanding-imbalanced-datasets-and-techniques-for-handling-them
https://www.analyticsvidhya.com/blog/2021/06/5-techniques-to-handle-imbalanced-data-for-a-classification-problem/
https://www.kdnuggets.com/2020/01/5-most-useful-techniques-handle-imbalanced-datasets.html
https://towardsdatascience.com/handling-imbalanced-datasets-in-machine-learning-7a0e84220f28

Worst case analysis: https://proceedings.neurips.cc/paper/2020/hash/d34a281acc62c6bec66425f0ad6dd645-Abstract.html
Not sure if we need it at all, probably not