In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import missingno as msno
from collections import Counter

# Pre-proccessing

## Raw data:

In [102]:
data = pd.read_csv("./dataset/maps-synthetic-data-v1.1.csv", engine='python')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13734 entries, 0 to 13733
Data columns (total 85 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         13734 non-null  int64
 1   X                  13734 non-null  int64
 2   flag               13734 non-null  object
 3   comp_bed_9         8174 non-null   object
 4   mat_dep            11145 non-null  float64
 5   mat_age            13326 non-null  object
 6   weight_16          5351 non-null   float64
 7   height_16          5364 non-null   float64
 8   iq                 7288 non-null   float64
 9   comp_noint_bed_16  471 non-null    object
 10  comp_int_bed_16    2570 non-null   object
 11  talk_phon_wend     4850 non-null   object
 12  text_wend          4841 non-null   object
 13  talk_mob_wend      4834 non-null   object
 14  comp_wend          4839 non-null   object
 15  musi_wend          4831 non-null   object
 16  read_wend          4834 non-null   object
 17  work_wend          4833 non-null   object
 18  alon_wend          4850 non-null   object
 19  draw_wend          4842 non-null   object
 20  play_wend          4850 non-null   object
 21  tv_wend            4853 non-null   object
 22  out_win_wend       4849 non-null   object
 23  out_sum_wend       4822 non-null   object
 24  tran_wend          4861 non-null   object
 25  talk_phon_week     4999 non-null   object
 26  text_week          5004 non-null   object
 27  talk_mob_week      5016 non-null   object
 28  comp_week          5011 non-null   object
 29  musi_week          5003 non-null   object
 30  read_week          4993 non-null   object
 31  work_week          5012 non-null   object
 32  alon_week          5008 non-null   object
 33  draw_week          5012 non-null   object
 34  play_week          5015 non-null   object
 35  tv_week            5020 non-null   object
 36  out_win_week       5007 non-null   object
 37  out_sum_week       5014 non-null   object
 38  tran_week          5024 non-null   object
 39  pat_pres_10        8057 non-null   object
 40  pat_pres_8         7729 non-null   object
 41  pat_pres           9579 non-null   object
 42  num_home           9583 non-null   object
 43  mat_anx_1          9700 non-null   object
 44  mat_anx_18m        9884 non-null   object
 45  mat_anx_8m         10488 non-null  object
 46  agg_score          10714 non-null  float64
 47  emot_cruel         11301 non-null  object
 48  phys_cruel         11301 non-null  object
 49  mat_anx_0m         11265 non-null  object
 50  pat_ses            11021 non-null  object
 51  mat_ses            10110 non-null  object
 52  pat_edu            10750 non-null  object
 53  mat_edu            12375 non-null  object
 54  parity             12544 non-null  float64
 55  dep_band_15        5299 non-null   object
 56  dep_band_13        7003 non-null   object
 57  dep_band_10        7679 non-null   object
 58  dep_band_07        8089 non-null   object
 59  anx_band_15        5303 non-null   object
 60  anx_band_13        7158 non-null   object
 61  anx_band_10        7852 non-null   object
 62  anx_band_07        8280 non-null   object
 63  exercise           4971 non-null   object
 64  child_bull         4989 non-null   object
 65  phone_14_wend      5962 non-null   object
 66  phone_14_week      6131 non-null   object
 67  musi_13            6880 non-null   object
 68  tv_bed_9           8348 non-null   object
 69  own_mob            4386 non-null   object
 70  has_dep_diag       4513 non-null   object
 71  secd_diag          4513 non-null   float64
 72  prim_diag          4513 non-null   float64
 73  panic_score        4513 non-null   float64
 74  dep_thoughts       1805 non-null   float64
 75  dep_score          4513 non-null   float64
 76  comp_house         713 non-null    object
 77  tv_bed_16          3877 non-null   object
 78  creat_14           7093 non-null   object
 79  comp_games         9660 non-null   object
 80  fam_tv_eve         11174 non-null  object
 81  fam_tv_aft         11038 non-null  object
 82  fam_tv_mor         11096 non-null  object
 83  sex                13734 non-null  object
 84  birth_order        13734 non-null  object
dtypes: float64(11), int64(2), object(72)
memory usage: 8.9+ MB

In [103]:
dictionary = pd.read_csv("./dataset/synthetic_data_dictionary.csv", engine='python')
dictionary.head()

,Variable Name,Variable ALSPAC Name,Variable Description,Variable Type,Administered to,Age of child at administration,ALSPAC Measure,ALSPAC Responses,Processing Details,Reference Document
0,agg_score,f596,Aggression score of partnership,Discrete,Mother,Aged 8 months,Derived by ALSPAC. See Processing Details,NaN,Aggression score was determined by three quest...,NaN
1,alon_week,ccs1006,Average time child spent per day doing things ...,Ordinal,Child,Aged 198 months,"""How much time on average do you spend each da...",Not at all,"The category ""Not at all"" was collapsed into t...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 1 hour,NaN,NaN
3,,,NaN,NaN,NaN,NaN,NaN,1-2 hours,NaN,NaN
4,,,NaN,NaN,NaN,NaN,NaN,3 or more hours,NaN,NaN

Variables have different Age Of Child At Administration parameters. We don't need the variables with this parameter not equal to 16 (for variables related to screen time) and 18 (for variables related to a depression or anxiety diagnosis).

## only the columns at 16 and 18:

All vars at 16 are separated into weekend and weekdays. Might be worth summing it up into total per week.

In [104]:
rows = dictionary[(dictionary["Age of child at administration"] == "Aged 198 months")]
rows2 = dictionary[(dictionary["Age of child at administration"] == "Aged around 17.5 years")]
rows3 = dictionary[(dictionary["Age of child at administration"] == "Aged around 15.5 years")]

columns_to_keep_names = list(rows['Variable Name'].append(rows2['Variable Name']).append(rows3['Variable Name']))
columns_to_keep_names.append('iq')
print(columns_to_keep_names, len(columns_to_keep_names))

['alon_week', 'alon_wend', 'child_bull', 'comp_house', 'comp_int_bed_16', 'comp_noint_bed_16', 'comp_week', 'comp_wend', 'draw_week', 'draw_wend', 'exercise', 'musi_week', 'musi_wend', 'out_sum_week', 'out_sum_wend', 'out_win_week', 'out_win_wend', 'play_week', 'play_wend', 'read_week', 'read_wend', 'talk_mob_week', 'talk_mob_wend', 'talk_phon_week', 'talk_phon_wend', 'text_week', 'text_wend', 'tran_week', 'tran_wend', 'tv_week', 'tv_wend', 'work_week', 'work_wend', 'dep_score', 'dep_thoughts', 'has_dep_diag', 'panic_score', 'prim_diag', 'secd_diag', 'anx_band_15', 'dep_band_15', 'height_16', 'weight_16', 'iq'] 44

C:\Users\moham\AppData\Local\Temp/ipykernel_4376/2958658514.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  columns_to_keep_names = list(rows['Variable Name'].append(rows2['Variable Name']).append(rows3['Variable Name']))
C:\Users\moham\AppData\Local\Temp/ipykernel_4376/2958658514.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  columns_to_keep_names = list(rows['Variable Name'].append(rows2['Variable Name']).append(rows3['Variable Name']))

## Changing the data types:
Changing the categories to numbers and yes/no answers to 0/1

In [105]:
for i in ['comp_bed_9', 'pat_pres_10', 'pat_pres_8', 'pat_pres', 'mat_anx_1', 'mat_anx_18m', 'mat_anx_8m', 'emot_cruel',
          'phys_cruel', 'mat_anx_0m', 'child_bull', 'musi_13', 'tv_bed_9', 'own_mob', 'comp_games']:
    data[i] = data[i].replace(['Yes'], 1)
    data[i] = data[i].replace(['No'], 0)
    
for i in ['comp_noint_bed_16', 'comp_int_bed_16', 'comp_house', 'tv_bed_16']:
    data[i] = data[i].replace(['Yes'], 1)
    data[i] = data[i].fillna(0)
    
for i in ['talk_phon_wend', 'musi_wend', 'talk_phon_week', 'musi_week']:
    data[i] = data[i].replace(['Not at all'], 0)
    data[i] = data[i].replace(['Any at all'], 1)

for i in ['play_wend', 'out_sum_wend', 'play_week', 'out_sum_week']:
    data[i] = data[i].replace(['Less than 3 hours'], 0)
    data[i] = data[i].replace(['3 or more hours'], 3)
    
for i in ['tran_wend', 'tran_week']:
    data[i] = data[i].replace(['Less than 1 hour'], 0)
    data[i] = data[i].replace(['1 or more hours'], 1)

In [106]:
for i in ['talk_mob_wend', 'read_wend', 'draw_wend', 'talk_mob_week', 'read_week', 'draw_week']:
    data[i] = data[i].replace(['Not at all', 'Less than 1 hour', '1 or more hours'], range(3))
    
for i in ['work_wend', 'alon_wend', 'out_win_wend', 'work_week', 'alon_week', 'out_win_week']:
    data[i] = data[i].replace(['Less than 1 hour', '1-2 hours', '3 or more hours'], [0, 1, 3])
    
for i in ['phone_14_wend', 'phone_14_week']:
    data[i] = data[i].replace(['Not at all', '< 1 hour', '1 or more hours'], range(3))
    
for i in ['fam_tv_eve', 'fam_tv_aft', 'fam_tv_mor']:
    data[i] = data[i].replace(['Other', 'Yes, Some Days', 'Yes, Every Day'], range(3))

In [107]:
for i in ['text_wend', 'comp_wend', 'tv_wend', 'text_week', 'comp_week', 'tv_week']:
    data[i] = data[i].replace(['Not at all', 'Less than 1 hour', '1-2 hours', '3 or more hours'], range(4))

In [108]:
percentages = ['dep_band_07', 'dep_band_15', 'dep_band_13', 'dep_band_10', 'anx_band_15', 'anx_band_07',
               'anx_band_13', 'anx_band_10']
for i in percentages:
    data[i] = data[i].str.strip('%<>~').astype('float')

In [109]:
data['weight_16'].round(decimals = 2)
data['height_16'].round(decimals = 2).head()
data['has_dep_diag'].replace(['Yes ICD-10 diagnosis of depression', ' No ICD-10 diagnosis of depression'], [1, 0], inplace = True)
data['exercise'].replace(['Never','Less than once a month', '1-3 times a month',
                         '1-4 times a week', '5 or more times a week'], range(5), inplace = True)

In [110]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13734 entries, 0 to 13733
Data columns (total 85 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         13734 non-null  int64
 1   X                  13734 non-null  int64
 2   flag               13734 non-null  object
 3   comp_bed_9         8174 non-null   float64
 4   mat_dep            11145 non-null  float64
 5   mat_age            13326 non-null  object
 6   weight_16          5351 non-null   float64
 7   height_16          5364 non-null   float64
 8   iq                 7288 non-null   float64
 9   comp_noint_bed_16  13734 non-null  float64
 10  comp_int_bed_16    13734 non-null  float64
 11  talk_phon_wend     4850 non-null   float64
 12  text_wend          4841 non-null   float64
 13  talk_mob_wend      4834 non-null   float64
 14  comp_wend          4839 non-null   float64
 15  musi_wend          4831 non-null   float64
 16  read_wend          4834 non-null   float64
 17  work_wend          4833 non-null   float64
 18  alon_wend          4850 non-null   float64
 19  draw_wend          4842 non-null   float64
 20  play_wend          4850 non-null   float64
 21  tv_wend            4853 non-null   float64
 22  out_win_wend       4849 non-null   float64
 23  out_sum_wend       4822 non-null   float64
 24  tran_wend          4861 non-null   float64
 25  talk_phon_week     4999 non-null   float64
 26  text_week          5004 non-null   float64
 27  talk_mob_week      5016 non-null   float64
 28  comp_week          5011 non-null   float64
 29  musi_week          5003 non-null   float64
 30  read_week          4993 non-null   float64
 31  work_week          5012 non-null   float64
 32  alon_week          5008 non-null   float64
 33  draw_week          5012 non-null   float64
 34  play_week          5015 non-null   float64
 35  tv_week            5020 non-null   float64
 36  out_win_week       5007 non-null   float64
 37  out_sum_week       5014 non-null   float64
 38  tran_week          5024 non-null   float64
 39  pat_pres_10        8057 non-null   float64
 40  pat_pres_8         7729 non-null   float64
 41  pat_pres           9579 non-null   float64
 42  num_home           9583 non-null   object
 43  mat_anx_1          9700 non-null   float64
 44  mat_anx_18m        9884 non-null   float64
 45  mat_anx_8m         10488 non-null  float64
 46  agg_score          10714 non-null  float64
 47  emot_cruel         11301 non-null  float64
 48  phys_cruel         11301 non-null  float64
 49  mat_anx_0m         11265 non-null  float64
 50  pat_ses            11021 non-null  object
 51  mat_ses            10110 non-null  object
 52  pat_edu            10750 non-null  object
 53  mat_edu            12375 non-null  object
 54  parity             12544 non-null  float64
 55  dep_band_15        5299 non-null   float64
 56  dep_band_13        7003 non-null   float64
 57  dep_band_10        7679 non-null   float64
 58  dep_band_07        8089 non-null   float64
 59  anx_band_15        5303 non-null   float64
 60  anx_band_13        7158 non-null   float64
 61  anx_band_10        7852 non-null   float64
 62  anx_band_07        8280 non-null   float64
 63  exercise           4971 non-null   float64
 64  child_bull         4989 non-null   float64
 65  phone_14_wend      5962 non-null   float64
 66  phone_14_week      6131 non-null   float64
 67  musi_13            6880 non-null   float64
 68  tv_bed_9           8348 non-null   float64
 69  own_mob            4386 non-null   float64
 70  has_dep_diag       4513 non-null   float64
 71  secd_diag          4513 non-null   float64
 72  prim_diag          4513 non-null   float64
 73  panic_score        4513 non-null   float64
 74  dep_thoughts       1805 non-null   float64
 75  dep_score          4513 non-null   float64
 76  comp_house         13734 non-null  float64
 77  tv_bed_16          13734 non-null  float64
 78  creat_14           7093 non-null   object
 79  comp_games         9660 non-null   float64
 80  fam_tv_eve         11174 non-null  float64
 81  fam_tv_aft         11038 non-null  float64
 82  fam_tv_mor         11096 non-null  float64
 83  sex                13734 non-null  object
 84  birth_order        13734 non-null  object
dtypes: float64(73), int64(2), object(10)
memory usage: 8.9+ MB

## Remove vars at wrong ages

In [111]:
data = pd.DataFrame(data)
for i in data.columns:
    if (i not in columns_to_keep_names):
        data.drop(i, inplace = True, axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13734 entries, 0 to 13733
Data columns (total 44 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   weight_16          5351 non-null   float64
 1   height_16          5364 non-null   float64
 2   iq                 7288 non-null   float64
 3   comp_noint_bed_16  13734 non-null  float64
 4   comp_int_bed_16    13734 non-null  float64
 5   talk_phon_wend     4850 non-null   float64
 6   text_wend          4841 non-null   float64
 7   talk_mob_wend      4834 non-null   float64
 8   comp_wend          4839 non-null   float64
 9   musi_wend          4831 non-null   float64
 10  read_wend          4834 non-null   float64
 11  work_wend          4833 non-null   float64
 12  alon_wend          4850 non-null   float64
 13  draw_wend          4842 non-null   float64
 14  play_wend          4850 non-null   float64
 15  tv_wend            4853 non-null   float64
 16  out_win_wend       4849 non-null   float64
 17  out_sum_wend       4822 non-null   float64
 18  tran_wend          4861 non-null   float64
 19  talk_phon_week     4999 non-null   float64
 20  text_week          5004 non-null   float64
 21  talk_mob_week      5016 non-null   float64
 22  comp_week          5011 non-null   float64
 23  musi_week          5003 non-null   float64
 24  read_week          4993 non-null   float64
 25  work_week          5012 non-null   float64
 26  alon_week          5008 non-null   float64
 27  draw_week          5012 non-null   float64
 28  play_week          5015 non-null   float64
 29  tv_week            5020 non-null   float64
 30  out_win_week       5007 non-null   float64
 31  out_sum_week       5014 non-null   float64
 32  tran_week          5024 non-null   float64
 33  dep_band_15        5299 non-null   float64
 34  anx_band_15        5303 non-null   float64
 35  exercise           4971 non-null   float64
 36  child_bull         4989 non-null   float64
 37  has_dep_diag       4513 non-null   float64
 38  secd_diag          4513 non-null   float64
 39  prim_diag          4513 non-null   float64
 40  panic_score        4513 non-null   float64
 41  dep_thoughts       1805 non-null   float64
 42  dep_score          4513 non-null   float64
 43  comp_house         13734 non-null  float64
dtypes: float64(44)
memory usage: 4.6 MB

## Combining variables
Weekend + weekday columns combines into a sum column

In [112]:
add1 = ['alon_week','draw_week','musi_week','out_sum_week','play_week','read_week','text_week',
        'tran_week','work_week','comp_week','tv_week','talk_mob_week','talk_phon_week', 'comp_int_bed_16']
add2 = ['alon_wend','draw_wend','musi_wend','out_sum_wend','play_wend','read_wend','text_wend',
        'tran_wend','work_wend','comp_wend','tv_wend','talk_mob_wend','talk_phon_wend', 'comp_noint_bed_16']
add3 = ['alon','draw','musi','out_sum','play','read','text',
        'tran','work','comp','tv','talk_mob','talk_phon', 'comp_bed_16']

for i in range(len(add1)):
    data[add3[i]] = data[add1[i]] + data[add2[i]]

data['comp_house_at_all'] = (data['comp_int_bed_16'] + data['comp_noint_bed_16'] + data['comp_house'])
for i in ['talk_phon', 'musi']:
    data[i].replace([2], 1, inplace = True)

## Checking if combined variables were answered together

In [113]:
error = []
for i in data.index:
    for j in range(len(add1)):
        if(type(data[add1[j]][i]) != type(data[add2[j]][i])):
            if(add1[j] not in error):
                error.append(add1[j])

for i in error:
    print(i , data[i].unique())

## Export the pre-proccessed data:

In [114]:
data.to_csv("newdata2.csv")